.container {
  padding: 1.5rem;

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 1.5rem;
  }

  .more {
    font: inherit;
    display: block;
    margin: 4rem auto 0;
    border: 1px solid #d7dbe0;
    border-radius: .25rem;
    padding: 1rem 2rem;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #ebecf0;
    }
  }

  .error-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      font-size: 2rem;
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 0.6rem solid;
  border-color: #eb00ff transparent #eb00ff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
