<ng-container *ngIf="products?.length">
  <section class="product-card" *ngFor="let product of products">
    <a [href]="product.url" target="_blank">
      <div class="product-card__image" [ngStyle]="{ 'background-image': 'url(' + (product.image ? product.image : './assets/aria.jpeg') + ')' }"></div>
      <h2 class="product-card__title">{{product.title}}</h2>
      <p class="product-card__description" [innerHTML]="product.description"></p>
      <div class="product-card__categories">
        <span class="product-card__category" *ngFor="let category of product.categories">{{ category }}</span>
      </div>
    </a>
  </section>
</ng-container>

<ng-container *ngIf="products?.length">
  <button class="load-more-button" [disabled]="isLoading" (click)="getProducts()">Load More</button>
</ng-container>

<ng-container *ngIf="!products?.length && !errorMessage">
  Cards are loading...
</ng-container>

<ng-container *ngIf="errorMessage">
  {{ errorMessage }}
</ng-container>
