$color-main-600: #FF3D00;

$color-danger-200: #f8d7da;
$color-danger-600: #721c24;

$color-gray-500: #5e6c84;
$color-gray-100: #d7dbe0;
$color-gray-50: #ebecf0;
$color-gray-25: #f2f4f7;

$color-gray-neutral-700: #333333;
$color-gray-neutral-100: #EEEEEE;
$color-gray-neutral-0: #FFFFFF;
