@import '_normalize.scss';
@import '_variables.scss';
@import '_buttons.scss';

body {
    background-color: $background-secondary-color;
}

* {
    box-sizing: border-box;
    font-family: $font-primary;
}

.page {
    background-color: $background-primary-color;
}
