.pill {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #5e6c84;
  font-weight: 800;
  background-color: #FFFFFF;
  color: #5e6c84;
  font-size: 0.75rem;
}
