<div class="stage">
  
  <div *ngIf="products$ | async; let products; ; else loading">
    <!--<pre *ngFor="let product of products.content">{{ product | json }}</pre>-->
    <div class="products">
      <div *ngFor="let product of products.content" (click)="goToLink(product.url)">
        <div class="imageWrapper"><img src="{{product.image}}" /></div>
        <div class="content">
          <h2>{{product.title}}</h2>
          <div class="description"><div class="ellipsis">{{product.description}}</div></div>
          
        </div>
        <div class="categoriesWrapper"><span *ngFor="let category of product.categories">{{category}}</span></div>
      </div>
    </div>
    <div class="messageWrapper error"><span *ngIf="isError">{{errorMsg}}</span></div>
    <button class="more tpbs" type="submit" (click)="loadMore();" *ngIf="products.more"  >
      <span *ngIf="!isLoading">Load more</span><span *ngIf="isLoading">Loading items...</span>
    </button>
   
  </div>
  <ng-template #loading>
    <div class="messageWrapper error"><span *ngIf="isError">{{errorMsg}}</span></div>
    <button class="more" type="submit" (click)="loadMore();" >
      <span *ngIf="!isLoading">Retry</span><span *ngIf="isLoading">Loading items...</span>
    </button>
  </ng-template>   
  
</div>