:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 16rem;
  overflow: hidden;
  border: 2px solid lightgray;
  border-radius: 10px;
  cursor: pointer;

  .image {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
    background-color: gray;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 1rem 0.5rem;

    p {
      display: -webkit-box;
      margin-top: 0;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .categories {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      .category {
        display: inline-block;
        border: 1px solid lightgray;
        border-radius: 5px;
        color: gray;
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}
