// in production these would be in different files
$base-background-color: #f2f4f7;
$light-background-color: #fff;
$medium-light-background-color: #ebecf0;
$medium-background-color: #ccc;

$base-color: #444;
$error-color: #ff0000;
$pale-text: #999;

$border-light: 1px solid #d7dbe0;

$border-radius: 0.5rem;
$border-radius-small: 0.25rem;

$base-spacing: 1.5em;

$small-spacing: .3rem;

$base-line-height: 1.7em;
$small-line-height: 1.1em;

$base-font-size: 16px;
$secondary-font-size: .9rem;
$small-font-size: .7rem;

@mixin borderedBox {
    border: $border-light;
    background-color: $light-background-color;
    border-radius: $border-radius-small;
}