<div class="products" *ngIf="products$ | async; let products">
  <app-product *ngFor="let product of products" [product]="product"></app-product>
</div>
<button class="more" [disabled]="(canLoadMore$ | async) ? null : true" (click)="loadMore()">Load more</button>

<div class="loadingOverlay" *ngIf="ongoingRequests">
  <div class="spinner"></div>
</div>

<div class="toasts" *ngIf="errorState$ | async">
  <div class="toast danger">
    Something went kaput. Please try again later.
  </div>
</div>
