
:host {
  position: relative;
  display: block;
}

.more {
  display: block;
  margin: 4rem auto 0;
  padding: 1rem 2rem;
  border: 1px solid #d7dbe0;
  border-radius: .25rem;
  font: inherit;
  background-color: #fff;
  cursor: pointer;

  &:hover, &:focus {
    background-color: #ebecf0;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}

.loadingOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
