@import '_mixins.scss';
@import '_variables.scss';

:host {
    display: inline-block;
    @include text-ellipsis('x', 1);
}

.tag {
    display: inherit;
    color: $text-muted-color;
    font-size: 0.9rem;
    font-weight: 500;
    @include text-ellipsis('x', 1);

    @include border;
    padding: 0.4rem 0.6rem;
}
