/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'assets/_properties.scss'; 

body {
  margin: 0;
  background-color: $base-background-color;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  line-height: $base-line-height;
  font-size: $base-font-size;
}
.messageWrapper {
  text-align: center;
  padding: $base-spacing;

  span {
    font-size: $small-font-size;
    padding: 0 $small-spacing;
    border-radius: $border-radius-small;
    font-style: oblique;
    display: block;
  }
}
.warning {
  span {
    color: $pale-text;
  }
}
.error {
  span {
    color: $error-color;
  }
}