$category-bg-color: #808080;
$img-placeholder-bg: #d7dbe0;

:host {
  position: relative;
}

.product-image {
  width: 100%;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-error {
    position: absolute;
  }

  .img-placeholder {
    width: 100%;
    height: 100%;
    background-color: $img-placeholder-bg;
  }
}

.product-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 16px 32px;

  .product-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
}

.product-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 8px;

  .category {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid $category-bg-color;
    border-radius: 4px;
    color: $category-bg-color;
  }
}
