@import '_mixins.scss';
@import '_variables.scss';

:host {
    height: -webkit-fill-available;
}

.product {
    @include flex(flex, column, 0, initial);
    @include shadow('sm');
    @include border-radius('m');

    min-width: 16rem;
    height: 100%;
    overflow: hidden;

    &__image {
        height: 10rem;
        object-fit: cover;

        &[alt] {
            color: $placeholder-text-color;
            font-weight: 600;
            line-height: 10rem;

            min-width: 100%;
            background-color: $placeholder-background-color;
        }
    }

    &__content {
        height: inherit;
        padding: 1rem;
        @include flex(flex, column, 0, initial);
    }

    &__title {
        @include heading('sm');
        @include margin('sm');

        @include text-ellipsis('y', 3);
    }

    &__description {
        @include text('m');
        @include margin('lg');
    }

    &__tags {
        height: inherit;
        @include flex(flex, row, 0.5, flex-end);
        flex-wrap: wrap;
    }
}
